<div class="dashboard">
    <div class="main-cards">
        <div class="d-flex flex-row gap-3">
            <div class="card-info inventario">
                <h4>Existencias del inventario</h4>
                <h3>1256</h3>
                <p>Información extra...</p>
            </div>
            <div class="card-info alerta">
                <h4>Elementos que se están agotando</h4>
                <h3>14</h3>
                <p>información extra...</p>
            </div>
        </div>
        <div class="card-actividad">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h4>Actividad reciente</h4>
                <a routerLink="/historico-inventario" style="font-size: 14pt;">Ver todo el historial</a>
            </div>
            <div class="d-flex flex-column gap-2">
                <div class="card-actividad-reciente d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row gap-4">
                        <div class="icon-container">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <div class="card-actividad-content">
                            <p>Informacion de actividad</p>
                            <p>Detalle de la actividad</p>
                        </div>
                    </div>
                    <div>
                        <p>2026-04-12 10:00:00</p>
                    </div>
                </div>

                <div class="card-actividad-reciente d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row gap-4">
                        <div class="icon-container">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <div class="card-actividad-content">
                            <p>Informacion de actividad</p>
                            <p>Detalle de la actividad</p>
                        </div>
                    </div>
                    <div>
                        <p>2026-04-12 10:00:00</p>
                    </div>
                </div>

                <div class="card-actividad-reciente d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row gap-4">
                        <div class="icon-container">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <div class="card-actividad-content">
                            <p>Informacion de actividad</p>
                            <p>Detalle de la actividad</p>
                        </div>
                    </div>
                    <div>
                        <p>2026-04-12 10:00:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="side-cards">
        <div class="card-actividad d-flex flex-row justify-content-between align-items-center">
            <div class="side-card-content">
                <p>Ventas diarias</p>
                <p>$32,434</p>
            </div>
            <div class="icon-container">
                <i class="material-icons">attach_money</i>
            </div>
        </div>

        <div class="card-actividad d-flex flex-row justify-content-between align-items-center">
            <div class="side-card-content">
                <p>Envíos pendientes</p>
                <p>2</p>
            </div>
            <div class="icon-container">
                <i class="material-icons">local_shipping</i>
            </div>
        </div>

        <div class="card-actividad d-flex flex-column justify-content-between align-items-center">
            <div class="side-card-content">
                <p>Accesos directos</p>
                <p></p>
            </div>
            <div class="d-flex mt-3 flex-wrap gap-3">
                <div class="accesos-directos">
                    <i class="material-icons">library_add</i>
                    <p>Agregar producto</p>
                </div>

                <div class="accesos-directos">
                    <i class="material-icons">check_box</i>
                    <p>Auditar inventario</p>
                </div>
                <div class="accesos-directos">
                    <i class="material-icons">assignment</i>
                    <p>Reportes</p>
                </div>
                <div class="accesos-directos">
                    <i class="material-icons">barcode_reader</i>
                    <p>Escanear código de barras</p>
                </div>
            </div>
        </div>
    </div>
</div>