<div class="inventario">
    <div class="header">
        <h3>Registro de entradas y salidas</h3>
        <p>Registra las entradas y salidas de productos del inventario</p>
    </div>
    <div class="main-content">
        <div class="main-cards">
            <div class="card-info">
                <div class="d-flex flex-row gap-2">
                    <div class="supplier-card">
                        <p>Nombre del proveedor</p>
                        <div class="input-wrapper">
                            <i class="material-icons input-icon">store_mall_directory</i>
                            <input type="text" placeholder="Ej. Ferretería de la esquina">
                        </div>
                    </div>
                    <div class="supplier-card">
                        <p>Numero de factura</p>
                        <div class="input-wrapper">
                            <i class="material-icons input-icon">chrome_reader_mode</i>
                            <input type="text" placeholder="Ej. Ferretería de la esquina">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-info">

            </div>
        </div>
        <div class="side-cards">
            <div class="card-info">

            </div>
            <div class="card-info">

            </div>
            <div class="card-info">

            </div>
        </div>
    </div>
</div>